
body {
     width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #ffc720;
     background: url("../img/hero-bg/homepageImage.jpg") top center no-repeat;
  background-size: cover;

}



.signup_form {

    background-color: #ffc720;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 12px;
}